{% extends "partials/base.html" %}
{% block content %}
<main class="main pages">
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="col-lg-6 col-md-8 m-auto">
                <div class="login_wrap widget-taber-content background-white">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h1 class="mb-5">Set New Password</h1>
                            <p class="mb-30">Please enter and confirm your new password below.</p>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-heading btn-block hover-up">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
