{% extends "partials/base.html" %}
{% block content %}
<main class="main pages">
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="col-lg-6 col-md-8 m-auto">
                <div class="login_wrap widget-taber-content background-white">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h1 class="mb-5">Password Reset Sent</h1>
                            <p class="mb-30">
                                If an account exists with the email address you provided, you'll receive an email with instructions on how to reset your password.
                            </p>
                        </div>
                        <a href="{% url 'login' %}" class="btn btn-heading btn-block hover-up">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
